<template>
  <div class="app">
      <router-view></router-view>
  </div>
</template>

<script>
export default {

}
</script>

<style>

body {
  margin: 0;
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614838435_153-p-fon-dlya-feisbuka-198.jpg");
}
html,body {
  height: 100vh;
}
</style>